@tailwind base;
@tailwind components;
@tailwind utilities;

/* .mm-custom-tooltip::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid red;
} */
